#modal-create-new-dir.modal
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h1.page-title= _('Create New Directory')
        %button.close{ type: "button", "data-dismiss": "modal", "aria-label" => _('Close') }
          %span{ "aria-hidden": "true" } &times;
      .modal-body
        = form_tag project_create_dir_path(@project, @id), method: :post, remote: false, class: 'js-create-dir-form js-quick-submit js-requires-input' do
          .form-group.row
            = label_tag :dir_name, _('Directory name'), class: 'col-form-label col-sm-2'
            .col-sm-10
              = text_field_tag :dir_name, params[:dir_name], required: true, class: 'form-control'

          = render 'shared/new_commit_form', placeholder: _("Add new directory")

          .form-actions
            = submit_tag _("Create directory"), class: 'btn gl-button btn-confirm'
            = link_to _('Cancel'), '#', class: "btn gl-button btn-default btn-cancel", "data-dismiss" => "modal"

            = render 'shared/projects/edit_information'
